nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  margin-left: 10px;
}

.logo-container {
  display: flex;
  gap: 70px;
}

.links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

a {
  text-decoration: none;
  color: hsl(233, 12%, 13%);
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

.links a:active {
  color: hsl(227, 12%, 61%);
}

.btn {
  width: 110px;
  height: 35px;
  font-size: 13px;
  padding: 5px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: hsl(12, 88%, 59%);
  cursor: pointer;
}
.btn:active {
  background-color: hsla(12, 88%, 59%, 0.508);
}

.menu-mobile {
  display: none;
}

@media (max-width: 450px) {
  .hide {
    display: none;
  }

  .nav-btn {
    display: none;
  }
  nav {
    margin: 20px;
    justify-content: space-between;
    padding: 20px;
  }

  .menu-mobile {
    display: block;
  }
  .menu-mobile img {
    width: 30px;
  }

  .links-container {
    padding-top: 20px;
    flex-direction: column;
    background-color: white;
    width: 303px;
    height: 300px;
    position: absolute;
    left: 59px;
    gap: 20px;
    top: 89px;
    border-radius: 10px;
  }
  .links {
    flex-direction: column;
  }
  a {
    font-size: 18px;
  }
}
