footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  color: white;
  background-color: hsl(260, 8%, 14%);
  padding: 50px;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 35px;
}
.links-box {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-list ul {
  list-style: none;
}
.link-list ul li {
  font-size: 16px;
  color: hsl(0, 0%, 75%);
  cursor: pointer;
}

.link-list h2 {
  font-size: 20px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search input {
  border: none;
  padding: 5px;
  border-radius: 13px;
}

.search button {
  padding: 15px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  background-color: hsl(12, 88%, 59%);
  color: rgb(219, 235, 241);
}

@media (max-width: 450px) {
  footer {
    flex-direction: column;
  }
}
