* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-image: url("./Assets//images/bg-tablet-pattern.svg");
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: 90%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
}
