* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;

  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
}

header {
  background-image: url("./Assets//images/bg-tablet-pattern.svg");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

@media (max-width: 450px) {
  header {
    background-size: 500px;
    background-position: -120% -20%;
  }
  main {
    padding: 0;
  }
}
